.character-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.character-title {
  text-align: center;
}

.characters-pagination {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}